<!-- component -->

<nav class="relative select-none bg-gray-800 lg:flex lg:items-stretch w-full">
	<div class="flex flex-no-shrink items-stretch h-12">
		<a href='/home' class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-teal-200 no-underline flex items-center hover:bg-grey-dark"> 
			<i class="fas fa-wind mr-3"></i> 
			<span  class="font-bold text-xl">Tailwind Blog</span> 
		</a>
		<button class="block lg:hidden cursor-pointer ml-auto relative w-12 h-12 p-4">
			<i class="fas fa-bars"></i>
		</button>
	</div>
	<div class=" lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow">
		<div class="lg:flex lg:items-stretch lg:justify-end ml-auto">
			<a href="#" class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-teal-200 no-underline flex items-center hover:bg-grey-dark">Item 1</a>
			<a href="#" class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-teal-200 no-underline flex items-center hover:bg-grey-dark">Item 2</a>
			<a href="#" class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-teal-200 no-underline flex items-center hover:bg-grey-dark">Item 3</a>
		</div>
	</div>
</nav>

