
<!-- Index: Post Display Area-->

<section class="flex flex-row flex-wrap mx-auto">
	<% @posts.each do |post| %>
		<!-- Card Component -->
		
		<%= render 'components/postcard', post: post %>
		
	<%end%>
</section>

